body {
    background-color: darkgrey;
}

header {
    background-color: #ff9900;
    padding: 50px;
}

footer {
    background-color: #ff3300;
    padding: 50px;
}

table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

#cell1 {
    background-color: #ffff00;
}

#cell2 {
    background-color: #ff0000;
}

#cell3 {
    background-color: #3300ff;
}

#cell4 {
    background-color: #33cc00;
}

#cell5 {
    background-color: #993300;
}

#cell6 {
    background-color: #993333;
}

#cell7 {
    background-color: #663300;
}

#cell8 {
    background-color: #663333;
}

#cell9 {
    background-color: #ff9900;
}

#cell10 {
    background-color: #ff66ff;
}

#cell11 {
    background-color: #000000;
    color: white;
}

#cell12 {
    background-color: #330066;
}

#cell13 {
    background-color: #33ff99;
}

#cell14 {
    background-color: #33ff66;
}

#cell15 {
    background-color: #66ccff;
}

#cell16 {
    background-color: #66cccc;
}